<div class = "contents">
  <div class=" col-lg-4">
    <div>
      <h3> User info</h3>
    </div>

    <div>
      <h3> New Book</h3>
      <p> Title</p>
      <p> Opinion</p>
    </div>
  </div>
  

  <div class="col-lg-8">
    <h3>Users</h3>
    <table class="table">
      <thead>
        <tr>
          <td>image</td>
          <td>name</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
          <% @users.each do |user| %>
          <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill,60,60 %></td>
          <td><%= user.name %></td>
          <td>Show</td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>