<div class = "top-page">
  <h1> ようこそ Bookers へ！</h1>
  <p> &emsp;&emsp;<b>Bookers</b> では、さまざまな書籍に関するあなたの意見や</p>
  <p>&emsp;&emsp;印象を交換することができます</p>
  <p>&emsp;&emsp;<%= link_to "start", "/books/new" %></p>
</div>
