<!-- フラッシュメッセージを表示できるようにする
(flash[:notice]にメッセージが入っている場合のみ)-->
<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>

<h1> Title</h1>
<%= @book.title %>
<h1> body</h1>
<%= @book.body %>

<%= link_to "Edit", edit_book_path(@book.id) %>