// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-header-extends {
  padding-left: 20%;
  pointer-events: none;
  color: white;
}


.navbar-right {
  padding-right: 20%;
}

.contents {
  margin: 0 20% 0 20%;
}
